{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", {
      "imports": "always-multiline",
      "exports": "always-multiline",
      "objects": "always-multiline",
      "arrays": "always-multiline",
      "functions": "never"
    }]
  }
}